.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.headNav{
  display: flex;
}

.titulo{
  font-size: 35px;
  font-weight: 700;
  margin-left: 15px;
}

.user{
  background-color: #D71B3D;
  border-radius: 30px;
  width: 64px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo{
  width: 70px;
  height: 70px;
}

.searchBar{
  width: 565px;
  height: 37px;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #888888;
}

.searchInput{
  height: 34px;
  width: 500px;
  outline: none;
}