.container{
  width: auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.headNav{
  display: flex;
}

.titulo{
  font-size: 35px;
  font-weight: 700;
  margin-left: 15px;
}

.user{
  background-color: #D71B3D;
  border-radius: 30px;
  width: 64px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo{
  width: 70px;
  height: 70px;
}

.searchBar{
  width: 565px;
  height: 37px;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #888888;
}

.searchInput{
  height: 34px;
  width: 500px;
  outline: none;
}

.main_container{
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.filtros{
  margin-top: 2%;
  width: 80%;
}

.filtros_container{
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  margin-top: 15px;
}

.preguntas{
  font-family: 'Popins', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.filtros_container_filtro_select{
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 18px;
}

.filtros_container_button{
  font-family: 'Popins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #3D3F94;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
}

.filtros_todas{
  font-family: 'Popins', sans-serif;
  font-size: 20px;
  padding: 6px 15px;
  border-radius: 8px;
  background-color: #D9D9D9;
  cursor: pointer;
  color: #6d6d6d;
}

.activeFilter{
  font-family: 'Popins', sans-serif;
  font-size: 20px;
  padding: 6px 15px;
  border-radius: 8px;
  background-color: #FACF14;
  cursor: pointer;
  color: black;
}

