@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

.contenedor_principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    box-shadow: 0 4px 50px 0 rgba(0,0,0,0.25);
    width: 30%;
    height: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input{
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #000000;
    padding-left: 10px;
    width: 300px;
    height: 40px;
}
.h1{
    margin-top: 10%;
    font-weight: 700;
    font-size: 30px;
    margin: 1%;
}

.inputnombre{
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #000000;
    padding-left: 10px;
    width: 140px;
    height: 40px;
}

.datos_bloque{
    display: flex;
    flex-direction: column;
}

.label{
    font-weight: 300;
    margin-top: 10px;
    padding: 0px 0 0 15px;
}

.check{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.titulo{
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
}

.button{
    border-radius: 30px;
    width: 148px;
    height: 44px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #FACF14;
    color: #3D3F94;
    cursor: pointer;
    margin-top: 15px;
}

.registrate{
    color: red;
}

.no_cuenta{
    font-size: 16px;
    padding: 30px;
}

.active{
    border-bottom: solid 4px red;
}


.imagen_rotada{
    transform: rotateY(180deg);
    background-color: transparent;
}

.toast_error{
    width: 280px;
    height: 80px;
    position: absolute;
    margin-top: 37rem;
    border-radius: 10px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #FF0000;
}

.toast_succes{
    width: 280px;
    height: 80px;
    position: absolute;
    margin-top: 37rem;
    border-radius: 10px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #028E3A;
}

.toast_text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.toast_type{
    font-size: 20px;
    font-weight: 600;
}

.toast_desc{
    font-size: 12px;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 10px;
}
.icon{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 10px;
}
.goolog{
    width: 15%;
    height: 90%;
}
.login{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 50px 0 rgba(0,0,0,0.25);
    margin: auto;
    padding: 3%;
    align-items: center;
    cursor: pointer;
    background-color: #3D3F94;
    color: white;
    border-radius: 15px;
}
.login:hover{
    background-color: #FACF14;
    color: #3D3F94;
    transition: 0.5s;
}

.divisor{
    width: 100%;
    height: 1px;
    background-color: #3D3F94;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.linea{
    width: 1px;
    height: 100%;
    background-color: white;
}

.opciones{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1%;
    margin-bottom: 2%;
}
.olvido{
    font-size: 14px;
    font-weight: 300;
    color: #3D3F94;
    text-decoration: none;
    cursor: pointer;
}

.crear{
    font-size: 14px;
    font-weight: 300;
    color: #3D3F94;
    text-decoration: none;
    cursor: pointer;

}
.crear:hover{
    color: #FACF14;
    transition: 0.5s;
}